body{
    font-size: 18px;
}

.ui-filter-inset {
    margin-top: 0;
}

#breadcrumb{
    margin-top: 0px;
    margin-bottom: 10px;
    height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: cornflowerblue;
    color: #fff;
    width: 100%;
}

#hello {
    margin-bottom: 5px;
    font-weight: bold;
}

#education{
    font-size: 20px;
    color: #b03911;
}

#education img{
    width: 100%;
}

p#title{
    font-weight: bold;
}