body{
    font-size: 20px;
}

.ui-filter-inset {
    margin-top: 0;
}

#breadcrumb{
    margin-top: 0px;
    margin-bottom: 10px;
    height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: cornflowerblue;
    color: #fff;
    width: 100%;
}

#hello {
    margin-bottom: 5px;
    font-weight: bold;
}

#educationaltip{
    font-size: 20px;
    color: #b03911;
}

#educationaltip img{
    width: 100%;
}

p#title{
    font-weight: bold;
}
input#createaccountbutton {
     background-color: yellow;
}

#education{

}

#education img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}

#nutrition img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}

.clear{
    height: 10px;
    width: 100%;
    float: left;
}

#opttitle{
    font-weight: bold;
    font-size: 21px;
}